<div class="main-class">
  <!-- header -->
  <div fxLayoutAlign="center center" class="header">
    <mat-toolbar class="headercolor">
      <span>
        <img src="../../../assets/imaage/education.svg" alt="edicationlogo" />
      </span>
      <span style="padding-left: 10px">Bookstore</span>
      <span class="example-spacer"></span>

      <div class="cart">
        <span>cart</span>
        <span>
          <img
            src="../../../assets/imaage/supermarket.svg"
            alt="supermarketlogo"
          />
        </span>
      </div>
      <div class="logout">
        <button mat-raised-button (click)="onLogout()">Logout</button>
      </div>
    </mat-toolbar>
  </div>

  <div class="sub-class">
    <!-- image -->
    <div class="info">
      image
      <mat-card class="example-card" *ngFor="let book of cartList">
        <mat-card-header class="card-header-text">
          <div class="card-header-text image-header">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <!-- <img mat-card-image src="../../../assets/imaage/bookimage/{{book.logo}}.png" alt="Photo of a Shiba Inu"> -->
          </div>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <!-- info -->
      <div>Prajakta Bramhe</div>
      <div>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
      <div class="placed-order">
        <button mat-raised-button class="primary">Placed Order</button>
      </div>
    </div>


  </div>
  <div class="sub-class1">
    Customer Details
  </div>
</div>
