<div class="main-class">
  <!-- header -->
  <div fxLayoutAlign="center center" class="header">
    <mat-toolbar class="headercolor">
      <span>
        <img src="../../../assets/imaage/education.svg" alt="edicationlogo" />
      </span>
      <span style="padding-left: 10px">Bookstore</span>
      <span class="example-spacer"></span>
      <div class="cart">
        <span>cart</span>
        <span>
          <img
            src="../../../assets/imaage/supermarket.svg"
            alt="supermarketlogo"
          />
        </span>
      </div>
      <div class="logout">
        <button mat-raised-button (click)="onLogout()">Logout</button>
      </div>
    </mat-toolbar>
  </div>
  
  <mat-card class="example-card">
    <mat-card-header class="cart-header">
      My cart(2)
    </mat-card-header>
    <div *ngFor="let book of cartList">
    <div class="book-container">
    <mat-card-header class="card-header-text image-header">
      <img mat-card-image src="../../../assets/imaage/bookimage/{{book.book.logo}}.png" alt="Images">
    </mat-card-header>
      <mat-card-content style="margin-left: 10%; align-self: center;">
        <mat-card-title>{{book.book.bookName}}</mat-card-title>
        <mat-card-subtitle>{{book.book.author}}</mat-card-subtitle>
        <mat-card-title>Rs.{{book.book.price}}</mat-card-title>
        </mat-card-content>
  </div>
  </div>
  <mat-card-actions class="cart-action" *ngIf="!showCustomerDetails">
    <button mat-raised-button class="primary" (click)="placeOrder()">Placed Order</button>
  </mat-card-actions>
  </mat-card>
  <!-- <mat-card class="card-container" >Simple card</mat-card> -->
  <mat-card  class="card-container" >
    <!-- <mat-card class="title-header">Customer Details</mat-card> -->
    <mat-card-title>Customer Details</mat-card-title>
    <form class="example-form" [formGroup] = "AddCart" (ngSubmit)="continue()" *ngIf="showCustomerDetails">
      <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="firstName">
              <mat-error *ngIf="!AddCart.controls['firstName'].valid">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input type="tel" matInput formControlName="phoneNumber">
              <mat-error *ngIf="!AddCart.controls['phoneNumber'].valid">
                Phone number is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
       <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Pincode</mat-label>
                <input type="text" matInput placeholder="25" formControlName="pincode">
              <mat-error *ngIf="!AddCart.controls['pincode'].valid">
                Pincode is Required
              </mat-error>   
              </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Locality</mat-label>
              <input type="text" matInput placeholder="555-555-1234" formControlName="locality">
              <mat-error *ngIf="!AddCart.controls['locality'].valid">
                Locality is required
              </mat-error>  
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Address</mat-label>
              <input type="text" matInput placeholder="email" formControlName="address">
              <mat-error *ngIf="!AddCart.controls['address'].valid">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>City/Town</mat-label>
              <input type="text" matInput placeholder="email" formControlName="city">
              <mat-error *ngIf="!AddCart.controls['city'].valid">
                City/Town is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>LandMark</mat-label>
              <input type="text" matInput placeholder="Password" formControlName="landmark">
              <mat-error *ngIf="!AddCart.controls['landmark'].valid">
                LandMark is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="label-space">
          <label for="gender">Type:</label>
        </div>
        <div>
          <span>
            <input id="home" type="radio" value="Home" name="type" formControlName="type">
            <label for="male">Home</label>
          </span>
         <span class="space">
          <input id="work" type="radio" value="Work" name="type" formControlName="type">
          <label for="female">Work</label>  
         </span>
          <span class="space">
            <input id="other" type="radio" value="Other" name="type" formControlName="type">
            <label for="female">Other</label>
          </span>
       </div> <br>
       <button mat-flat-button class="checkout-btn">Checkout</button>
      </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>

<!-- 
  form
 -->
 
 
 
  