<p>
    <mat-toolbar class="headercolor">
      <span>
        <img src="../../../assets/imaage/education.svg" alt="edicationlogo" >
      </span>
      <span style="padding-left: 10px;">Bookstore</span>
      <span class="example-spacer"></span>

      <!-- Search form -->
     <form class="search-bar">
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
       >
     </form>
     <div class="cart">
      <span >cart</span>
      <span>
        <img src="../../../assets/imaage/supermarket.svg" alt="supermarketlogo" >
      </span>
    </div>
    </mat-toolbar>
  </p>