.headercolor{
    background: #A03037 0% 0% no-repeat padding-box;
    height: 60px;
    opacity: 1;
}
.mat-toolbar{
    display: flex;
    box-sizing: border-box;
    padding: 0 10%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
// .example-icon{
//     top: 19px;
// left: 164px;
// width: 31px;
// height: 24px;
// text-align: left;
// font: normal normal normal 20px/26px Roboto;
// letter-spacing: 0px;
// color: #FFFFFF;
// text-transform: capitalize;
// opacity: 1;
// }