img {
    height: 300px;
    margin-left: 550px;
    margin-top: 50px;
}

// .text {
//     margin-left: 500px;
//     margin-top: 50px; 
// }

.mat-flat-button {
    margin-left: 600px;
    margin-bottom: 20px;
}

table {
    margin-left: 380px;
    margin-bottom: 25px;
}

th {
    padding: 15px;
}

td {
    padding: 15px;
}